body,html {
    background-color: rgb(255, 200, 47);
    margin:0;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

i{
    font-size:60px;

}

#content-wrapper{
    width:600px;
    margin:0 auto;
}

img {
    display: block;
    margin:0 auto;
    border:5px solid white;
    border-radius: 300px;
}

ul > li {
    display: block;
    margin: 0 20px 0 20px;
    widows: 500px;
    margin:0 auto;
}


